<chart [options]="options"></chart>
<div style="width:80%;">
    <button (click)="getSelectedRows()">Get Selected Rows</button>
    
    <ag-grid-angular #agGrid id="myGrid"
        style="width: 500px; height: 500px; font-size:1.1em;" 
        class="ag-theme-balham"
        [rowData]="rowData | async"  
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableFilter]="true"
        rowSelection="multiple"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [enableColResize]="true"
        [defaultColDef]="defaultColDef"
        
    >
    </ag-grid-angular>
</div>

<!--https://www.ag-grid.com/javascript-grid-cell-editing/-->